<html>
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" href="media/css/style.css" />
	</head>
	<body>
		<div id="header">
			<div id="logo">
                       </div>
		</div>
        <div id="navigation">
            <div id="login">
                {% if user.id != 0 %}
                links for <a href="?module=user&id={{ user.id }}">{{ user.name }}</a> # <a href="?module=post&action=new">post</a> # <a href="?module=auth&action=logout">logout</a>
                {% else %}
                Not logged in (<a href="?module=auth">login</a> # <a href="?module=user&action=new">register</a>)
                {% endif %}
            </div>
            <div id="links">
                <a href="index.php">source</a> # <a href="#">github</a> 
            </div>
        </div>
		<div id="body">
			<div id="side">
				<div class="side">
                    <div class="side-content">
			<div class="side-title">Project</div><br />
			 <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Documentation</a></li>
                            <li><a href="#">Download</a></li>
                            <li><a href="#">Collaborate</a></li>
                            <li><a href="#">Licensing</a></li>
                        </ul>
                    </div>
                    <div class="side-footer"></div>
                </div>
                <div class="side">
                    
                    <div class="side-content">
			<div class="side-title">Discussion</div><br />
                        <ul>
                            <li><a href="#">Known Issues</a></li>
                            <li><a href="#">Security</a></li>
                            <li><a href="#">Plugins</a></li>
                    </div>
                    <div class="side-footer"></div>
                </div>
			</div>
			<div id="content">
				{% if content %}
					{{ content||safe }}
				{% endif %}
			</div>
            <div class="clear"></div>
		</div>
		<div id="footer">
            <div id="footer-message">Published under the <a href="http://www.gnu.org/copyleft/gpl.html">GNU GPL</a>.</div>
		</div>
	</body>
</html>
