<div class="side">
    <div class="side-title">
        <div class="side-title-bg">asdf<div>
    </div>
    <div class="side-content">
        <a href="#">this is a link</a>
        <a href="#">this is another link</a>
        <a href="#">this is a link</a>
        <a href="#">this link makes the links look more...</a>
        <a href="#">natural so i can see shit</a>
        <a href="#">this is a link</a>
        <a href="#">this is a link</a>
        <a href="#">the way it might normally appear</a>
        <a href="#">this is a link</a>
    </div>
</div>